<%= simple_form_for([product_list, product_item], wrapper: :inline_form, html: { class: "row row-cols-lg-auto g-3 align-items-center" }, wrapper_mappings: {
    boolean: :inline_boolean
  }) do |f| %>

  <%= f.input :name, autofocus: true %>

  <div class="col-12">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
