<h1>Editing product item</h1>

<%= render "form", product_item: @product_item %>

<br>

<div>
  <%= link_to "Show this product item", @product_item %> |
  <%= link_to "Back to product items", product_items_path %>
</div>
