<h1>Editing product item</h1>

<%= turbo_frame_tag @product_item do %>
  <%= render "form", product_list: @product_list, product_item: @product_item %>
<% end %>
<br>

<div>
  <%= link_to "Back to product items",
    product_list_path(@product_list) %>
</div>
