<h1>New product item</h1>

<%= render "form", product_list: @product_list, product_item: @product_item %>

<br>

<div>
  <%= link_to "Back to product items", product_list_path(@product_list) %>
</div>
