<div class="card" id="<%= dom_id product_list %>">
  <div class="card-body">
    <h5 class="card-title text-center">
      <%= link_to product_list.name, product_list, class: 'link-primary text-decoration-none' %>
    </h5>
  </div>
  <div class="card-body">
    <%= link_to "Modifier", [:edit, product_list], class: "card-link btn btn-success" %>
    <%= link_to "Supprimer", product_list, class: "card-link btn btn-danger", data: { turbo_method: :delete } %>
  </div>
</div>
